[Desktop Entry]
Version=1.0
Type=Application
Name=ISHROQAI-45xFA
Comment=Advanced Intelligence Assistant
Exec=python3 /home/saadiy/Documents/sirli_kod/nexus_ai/main.py
Icon=/home/saadiy/Desktop/icon.png
Terminal=false
Categories=Utility;Security;
StartupNotify=true
Path=
